<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>Trackpad</string>
	<key>CFBundleGetInfoString</key>
	<string>Trackpad Preference Pane</string>
	<key>CFBundleIconFile</key>
	<string>Trackpad.icns</string>
	<key>CFBundleIdentifier</key>
	<string>com.apple.preference.trackpad</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Trackpad</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleShortVersionString</key>
	<string>2.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>2.0</string>
	<key>NSMainNibFile</key>
	<string>OldTrackpadTab</string>
	<key>NSPrefPaneSearchParameters</key>
	<string>Trackpad</string>
	<key>NSPrefPanelIconLabel</key>
	<string>Trackpad</string>
	<key>NSPrincipalClass</key>
	<string>Trackpad</string>
</dict>
</plist>
