<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildVersion</key>
	<string>426</string>
	<key>CFBundleShortVersionString</key>
	<string>295.23</string>
	<key>CFBundleVersion</key>
	<string>295.23</string>
	<key>ProjectName</key>
	<string>AppleUSBAudio</string>
	<key>SourceVersion</key>
	<string>295023000000000</string>
</dict>
</plist>
