<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildAliasOf</key>
	<string>IOAVBFamily</string>
	<key>BuildVersion</key>
	<string>560</string>
	<key>CFBundleShortVersionString</key>
	<string>303.1</string>
	<key>CFBundleVersion</key>
	<string>303.1</string>
	<key>ProjectName</key>
	<string>IOAVBFamily_kexts</string>
	<key>SourceVersion</key>
	<string>303001000000000</string>
</dict>
</plist>
