<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildMachineOSBuild</key>
	<string>14F2314</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>AppleIntelLpssUART</string>
	<key>CFBundleIdentifier</key>
	<string>com.apple.driver.AppleIntelLpssUART</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>AppleIntelLpssUART</string>
	<key>CFBundlePackageType</key>
	<string>KEXT</string>
	<key>CFBundleShortVersionString</key>
	<string>2.0.57</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>2.0.57</string>
	<key>DTCompiler</key>
	<string>com.apple.compilers.llvm.clang.1_0</string>
	<key>DTPlatformBuild</key>
	<string>6D543f</string>
	<key>DTPlatformVersion</key>
	<string>GM</string>
	<key>DTSDKBuild</key>
	<string>14F27</string>
	<key>DTSDKName</key>
	<string>macosx10.10internal</string>
	<key>DTXcode</key>
	<string>0630</string>
	<key>DTXcodeBuild</key>
	<string>6D543f</string>
	<key>IOKitPersonalities</key>
	<dict>
		<key>LPSS 16X50 Serial Port</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.AppleIntelLpssUART</string>
			<key>IOClass</key>
			<string>AppleIntel16X50LPSS</string>
			<key>IOKitDebug</key>
			<integer>0</integer>
			<key>IOPCIMatch</key>
			<string>0x9c008086&amp;0xff08ffff</string>
			<key>IOProbeScore</key>
			<integer>1600</integer>
			<key>IOProviderClass</key>
			<string>IOPCIDevice</string>
			<key>LpssUartUseSclkRange</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>OSBundleCompatibleVersion</key>
	<string>2.0.45</string>
	<key>OSBundleLibraries</key>
	<dict>
		<key>com.apple.driver.AppleIntelLpssDmac</key>
		<string>2.0.57</string>
		<key>com.apple.iokit.IOACPIFamily</key>
		<string>1.4</string>
		<key>com.apple.iokit.IOPCIFamily</key>
		<string>2.5</string>
		<key>com.apple.iokit.IOSerialFamily</key>
		<string>10.0.2</string>
		<key>com.apple.kpi.bsd</key>
		<string>10.0.0d4</string>
		<key>com.apple.kpi.iokit</key>
		<string>10.0.0d4</string>
		<key>com.apple.kpi.libkern</key>
		<string>10.0.0d4</string>
		<key>com.apple.kpi.mach</key>
		<string>10.0.0d4</string>
		<key>com.apple.kpi.unsupported</key>
		<string>10.0.0d4</string>
	</dict>
	<key>OSBundleRequired</key>
	<string>Safe Boot</string>
</dict>
</plist>
